.popupWrapper {
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  .popup-multiply {
    height: 90%;
  }
  .popup {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    border: 2px solid #fff;
    margin: 15px;
    border-radius: 12px;
    overflow: hidden;

    .header {
      text-align: start;
      padding: 15px;
      border-bottom: 1px solid #fff;
      background-color: #095cbb;

      .close {
        margin-left: 50%;
      }

      .label-dropdown {
        position: absolute;
        z-index: 10;
        background: #1a3a6a;
        border-radius: 8px;
        padding: 15px 8px 15px 8px;
        min-width: 200px;
      }

      .label {
        border-radius: 10px;
        height: 20px;
        line-height: 1px;
        padding: 5px 2px 5px 2px;
        font-size: large;

        display: inline;
        button {
          background: #00000000;
          visibility: hidden;
        }
      }
      .label:hover {
        button {
          visibility: visible;
        }
      }
    }

    .body {
      border: 1px solid #fff;
      padding: 15px 10px 10px 10px;
      background-color: #001027;

      .input-wrapper {
        display: flex;
        align-items: start;
        gap: 8px 16px;
        margin-bottom: 10px;

        span {
          width: 50%;
        }
      }

      textarea {
        min-width: 80%;
        min-height: 100px;
        margin: 10px;
      }

      button {
        display: block;
        width: 30px;
        height: 20px;
      }
    }

    .actions {
      border-top: 1px solid #fff;
      display: flex;
      justify-content: center;
      gap: 15px;

      button {
        min-width: 150px;
        margin: 10px;
      }
    }

    button {
      border: none;
      border-radius: 8px;

      padding: 10px 16px;

      background: #05cfbe;
      color: rgb(1, 0, 34);

      font-size: 14px;
      font-weight: 500;

      cursor: pointer;

      transition:
        background 0.2s ease,
        transform 0.1s ease;
    }
    button.close {
      background: none;
    }

    button:hover {
      background: #03a396;
    }

    button:active {
      transform: scale(0.98);
    }
  }
}
